:host {
    font-family: $base-font-family;
    font-size: 12px;
    color: $color-default;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:host, slot {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    list-style: none;
}


input {
    font-family: inherit;
    font-size: 13px;

    &:focus {
        outline: 0;
    }

    &:required {
        box-shadow: none;
    }
}