@import './variables';
@import './reset';

.litelement-tags-wrapper {
    position: relative;
}

.lit-tags__selected {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    border: 1px solid #A6AEB9;
    box-shadow: inset 0px 1px 3px #788290;
    border-radius: 2px;
}

.lit-tags__tag-input-field {
    flex-grow: 1;
    border: none;
    margin: 2px;
}