@import './variables';
@import './reset';

.tags-wrapper {
    position: relative;
}

.tags-box {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    border: 1px solid $color-grey-2;
    box-shadow: inset 0px 1px 3px $color-grey-light;
    border-radius: 2px;

    &:focus-within {
        border-color: $color-blue;
        box-shadow: inset 0px 1px 3px lighten($color-blue, 20%);
    }
}

.tags-input-field {
    flex-grow: 1;
    border: none;
    margin: 2px;
}