@import './variables';
@import './reset';

.suggestions {
    position: absolute;
    width: 100%;
    font-size: 14px;
    color: $color-heading;
    background: $color-white;
    border: 1px solid $color-grey-2;
    border-radius: 2px;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 2px;
    padding: 8px 0;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    &::-webkit-scrollbar:vertical {
        width: 11px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid $color-white;
        background-color: rgba(0, 0, 0, .5);
    }
    
}

.suggestion {
    padding: 8px;
    font-weight: $font-weight-medium;
    cursor: pointer;
}

.suggestion:focus,
.suggestion--active {
    color: $color-white;
    background-color: $color-grey-light;
}