@import './variables';
@import './reset';

:host {
    margin: 2px;
    flex-shrink: 0;
}

.tag {
    display: inline-block;
    color: $color-grey-1;
    font-weight: $font-weight-semibold;
    line-height: 1.4;
    padding: 2px 8px;
    background: #EEEFF1;
    border: 1px solid #D9DDE1;
    border-radius: 2px;
}

.tag__remove-btn {
    padding: 0;
    margin: 0;
    margin-left: 2px;
    white-space: nowrap;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    &:hover {
        color: $color-grey-1;
    }
}
